<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>User Activation</title>
  </head>
  <body>
    <nav class="nav-bar">
      <img src="/logo.png" alt="logo" />
    </nav>
    <div class="activation">
      <h1>User Activation</h1>
      <i class="fa-solid fa-check" style="color: #80ff00"></i>
      <p>Your account has been successfully activated.</p>

      <p>Thank you for using our service!</p>
    </div>
  </body>
</html>
