{% load i18n %}

{% block subject %}
{% blocktrans %}Password Reset Request for {{ SITE_NAME }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at eloquentexchange.org{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}


{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ SITE_NAME }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at eloquentexchange.org{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<p><a href="https://eloquentexchange.org/profile/reset-password/{{ uid }}/{{ token }}/">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>


<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The eloquentexchange team{% endblocktrans %}</p>

{% endblock html_body %}
